<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>用户中心-上传头像</title>
<link href="/tuoFu/c/base.css" rel="stylesheet" type="text/css">
<link href="/tuoFu/c/toefl.css" rel="stylesheet" type="text/css">
<link href="/tuoFu/personal-profile/mine-master/css/mbox.css" rel="stylesheet" type="text/css">
<!-- <script src="/tuoFu/j/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script> -->
<script type="text/javascript" src="/tuoFu/personal-profile/mine-master/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/tuoFu/personal-profile/mine-master/js/jm-qi.js" ></script>
<script type="text/javascript" src="/tuoFu/personal-profile/js/userinfor.js"></script>


</head>

<body>
	<div class="doc910 fn-right">
		<div class="flcb_cardMenu">
			<ul>
				<li th:if="${session.userinfo.name} == 'member'"><a href="###"
					target="infor" id="basic">基本资料</a></li>
				<li th:if="${session.userinfo.name} == 'teacher'"><a href="###"
					target="infor" id="teacherBasic">基本资料</a></li>
				<li><a href="###" target="infor" id="imgUpload">头像设置</a></li>
				<li><a href="###" target="infor" id="passwordChange">密码设置</a></li>
			</ul>
		</div>

		<div th:object="${session.userinfo}" class="userCenter"
			style="display: block;" id="basicContent"
			th:if="${session.userinfo.name} == 'member'">
			<form id="modifyMemeber" th:action="@{/user/saveMember}" method="post">
				<dl>
					<dt>用户名：</dt>
					<dd>
						<input type="text" readonly="readonly" class="userCenter_input"
							th:value="${session.user.username}">
					</dd>
				</dl>
				<dl>
					<dt>性别：</dt>
					<dd>
						<div class="userCenter_radio">
							<input name="sex" type="radio" value="男" th:checked="*{sex}=='男'"><span>男</span>
							<input name="sex" type="radio" value="女" th:checked="*{sex}=='女'"><span>女</span>
						</div>
					</dd>
				</dl>
				<dl>
					<dt>邮箱：</dt>
					<dd>
						<input type="text" name="email" class="userCenter_input"
							th:value="*{email}">
					</dd>
				</dl>
				<dl>
					<dt>电话：</dt>
					<dd>
						<input type="text" name="telephone" class="userCenter_input"
							th:value="*{tel}">
					</dd>
				</dl>
				<dl>
					<dt>出生日期：</dt>
					<dd>
						<input type="date" name="birthday" class="userCenter_input"
							th:value="*{birth}">
					</dd>
				</dl>
				<dl>
					<dt>个性签名：</dt>
					<dd>
						<textarea name="signature" th:text="*{signature}"
							class="userCenter_t">最近土豪牛大了，昨晚说今天南北车还要板，今天果然又板！</textarea>
						<p class="userCenter_text">请输入2-100个字符</p>
					</dd>
				</dl>
				<dl>
					<dd>
						<input type="submit" id="member" class="userCenter_save"
							value="保存" >
					</dd>
				</dl>
			</form>
		</div>

		<div class="userCenter" id="teacherBasicContent"
			th:if="${session.userinfo.name} == 'teacher'">
			<form class="form1" th:action="@{/user/saveTeacher}" method="post"
				th:object="${session.userinfo}">
				<dl>
					<dt>用户名：</dt>
					<dd>
						<input type="text" class="userCenter_input"
							th:value="${session.user.username}">
					</dd>
				</dl>
				<dl>
					<dt>真实姓名：</dt>
					<dd>
						<input type="text" name="realname" class="userCenter_input"
							th:value="*{realname}">
					</dd>
				</dl>
				<dl>
					<dt>性别：</dt>
					<dd>
						<div class="userCenter_radio">
							<input name="sex" type="radio" value="男" th:checked="*{sex}=='男'"><span>男</span>
							<input name="sex" type="radio" value="女" th:checked="*{sex}=='女'"><span>女</span>
						</div>
					</dd>
				</dl>
				<dl>
					<dt>学历：</dt>
					<dd>
						<div class="userCenter_radio">
							<input name="edu" type="radio" value="专科"
								th:checked="*{edu}=='专科'"><span>专科</span> <input
								name="edu" type="radio" value="本科" th:checked="*{edu}=='本科'"><span>本科</span>
							<input name="edu" type="radio" value="硕士"
								th:checked="*{edu}=='硕士'"><span>硕士</span> <input
								name="edu" type="radio" value="博士" th:checked="*{edu}=='博士'"><span>博士</span>
						</div>
					</dd>
				</dl>

				<dl>
					<dt>邮箱：</dt>
					<dd>
						<input type="email" name="email" class="userCenter_input"
							th:value="*{email}">
					</dd>
				</dl>
				<dl>
					<dt>电话：</dt>
					<dd>
						<input type="text" name="tel" class="userCenter_input"
							th:value="*{tel}">
					</dd>
				</dl>
				<dl>
					<dt>出生日期：</dt>
					<dd>
						<input type="date" name="birth" class="userCenter_input"
							th:value="*{birth}">
					</dd>
				</dl>
				<dl>
					<dt>自我介绍：</dt>
					<dd>
						<textarea name="introduce" class="userCenter_t"
							th:text="*{signature}">最近土豪牛大了，昨晚说今天南北车还要板，今天果然又板！</textarea>
						<p class="userCenter_text">请输入2-100个字符</p>
					</dd>
				</dl>
				<dl>
					<dd>
						<input type="submit" class="userCenter_save" value="保存">
					</dd>
				</dl>
			</form>
		</div>

		<div class="userCenter" style="display: none;"
			id="passwordChangeContent">
			<form th:action="@{/user/modifyPassword}" method="post"
				onSubmit="return checkForm()">
				<dl>
					<dd>
						<span th:text="${message}"></span>
					</dd>
				</dl>
				<dl>
					<dt>旧密码：</dt>
					<dd>
						<input name="password" type="password" class="userCenter_input">
					</dd>
				</dl>
				<dl>
					<dd>
						<span id="tipPassword"></span>
					</dd>
				</dl>
				<dl>
					<dt>新密码：</dt>
					<dd>
						<span id="tipPassword"></span> <input type="password"
							name="password" onBlur="checkPassword()" id="userPasword"
							oninput="tipPassword()" class="userCenter_input"
							th:value="${password}">
					</dd>
				</dl>
				<dl>
					<dd>
						<span class="default" id="tipConPassword"></span>
					</dd>
				</dl>
				<dl>
					<dt>确认新密码：</dt>
					<dd>
						<span class="default" id="tipConPassword"></span> <input
							type="password" name="rePassword" id="userConfirmPasword"
							onBlur="ConfirmPassword()" class="userCenter_input"
							th:value="${password}">
					</dd>
				</dl>
				<dl>
					<dd>
						<input type="submit" class="userCenter_save" value="保存">
					</dd>
				</dl>
			</form>
		</div>

		<div class="userTX" style="display: none;" id="imgUploadContent">
			<form id="uploadPic" th:action="@{/user/modifyPicture}" method="post"
				enctype="multipart/form-data" th:object="${session.user}">
				<div class=" fn-clear">
					<input type="file" id="myFile" name="file" class="userTX_b" />
				</div>
				<div class="userTXPic">
					<div class="userTXPicText">仅支持JPG、PNG格式且文件小于5M</div>
					<div class="userTX_240x240 fileUploadLabel" for="myFile">
						<img th:src="|/tuoFu/img/@{*{picture}}|">
					</div>
				</div>
				<div class="userTXShow">
					<div class="fn-clear">
						<div class="userTXPicText">您上传的图片会自动生成一下三种尺寸，请观察是否清晰</div>
						<div class="userTX_150x150 fileUploadLabel" for="myFile">
							<img th:src="|/tuoFu/img/@{*{picture}}|"><span>150*150</span>
						</div>
						<div class="userTX_60x60 fileUploadLabel" for="myFile">
							<img th:src="|/tuoFu/img/@{*{picture}}|"><span>60*60</span>
						</div>
						<div class="userTX_30x30 fileUploadLabel" for="myFile">
							<img th:src="|/tuoFu/img/@{*{picture}}|"><span>30*30</span>
						</div>
					</div>
					<div class="userTXSave">
						<input type="submit" id="yu" class="userCenter_save" value="保存">
					</div>
				</div>
			</form>
		</div>
	</div>
</body>

</html>